body {
	background: url(https://github.com/4GeeksAcademy/css-tutorial-exercises-course/blob/master/.learn/assets/background-vertical.jpg?raw=true);
	padding: 20px;
}

h1 {
	font-size: Courier;
	color: red;
	text-align: center;
}

#id1 {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 5px;
}

a {
	text-decoration: none;
	color: green;
}
